<app-header title="Cards Page"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="dark">
      <ion-icon slot="start" name="pin" color="light"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro voluptas sit consequuntur deleniti rem doloribus voluptatum, magni sapiente corporis eveniet optio aspernatur blanditiis ab quas eius at, ullam delectus dicta.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ullam provident quibusdam amet unde vero voluptatum excepturi. Iste dolore voluptatem non repudiandae quos delectus, omnis sunt repellendus, doloremque in ea!
    </ion-card-content>
  </ion-card>
</ion-content>
